 #button {
     background-color: #4d4dff;
     border: none;
     border-radius: 50%;
     width: 150px;
     height: 150px;
     font-size: 25px;
     line-height: 100px;
     cursor: pointer;
     margin: 50px auto 20px;
     display: block;
 }

 #inventory {
     padding: 10px;
     margin: 20px auto;
     display: block;
     text-align: center;
     font-size: 25px;
 }

 #inventory ul {
     list-style: none;
     padding: 0;
     font-size: 20px;
     text-align: center;
 }

 #inventory li {
     padding: 5px;
 }

 #item {
     text-align: center;
     font-size: 35px;
     margin-top: 40px;
 }